Instance: {{full_name|normalize_name}}-MID
InstanceOf: PPLManufacturedItemDefinition
Usage: #{{usage}}
* status = #active
* manufacturedDoseForm = $200000000004#{{manufactured_item_definition.manufactured_doseform.code}} "{{manufactured_item_definition.manufactured_doseform.display}}"
* unitOfPresentation = $200000000014#{{manufactured_item_definition.manufactured_doseform.unit_of_presentation.code}} "{{manufactured_item_definition.manufactured_doseform.unit_of_presentation.display}}"