Instance: LOC-{% if organization.identifier %}{{organization.identifier}}-{% endif %}{{organization.name|normalize_name}}
InstanceOf: PPLOrganization
Usage: #{{usage}}
Description: "Marketing Authorisation Holder / Organisation"

* identifier[loc].value = "{{organization.identifier}}"
* name = "{{organization.name}}"