

Instance: {{organization.instance_id}}
InstanceOf: PPLOrganization
Usage: #{{usage}}
Description: "Marketing Authorisation Holder / Organisation"

* identifier[loc].value = "{{organization.identifier}}"
* name = "{{organization.name}}"

