Instance: {{full_name|normalize_name}}-PPD
InstanceOf: PPLPackagedProductDefinition
Usage: #{{usage}}

* identifier[pcid].value = "{{country.abbreviation}}-{{pcId|normalize_name}}" //pcId ?
* packageFor = Reference({{full_name|normalize_name}}-MPD)
* containedItemQuantity = {{packaged_product_definition.pack_size}} $200000000014#{{packaged_product_definition.unit_of_presentation.code}} "{{packaged_product_definition.unit_of_presentation.display}}"
* description = "{{packaged_product_definition.description}}"
//  * extension.url = "http://ema.europa.eu/fhir/extension/language"
//  * extension.valueCoding = $100000072057#100000072172 "Estonian"
* marketingStatus.country = $100000000002#{{country.code}} "{{country.display}}"
* marketingStatus.status = $100000072052#100000072083 "Marketed" // status?
{%- if packaged_product_definition.packaging %}
* packaging.type = $100000073346#{{packaged_product_definition.packaging.code}} "{{packaged_product_definition.packaging.type}}"
* packaging.quantity = {{packaged_product_definition.packaging.quantity}}
//* packaging.material = $200000003199#200000003529 "Cardboard"
//* packaging.packaging.type = $100000073346#100000073496 "Blister"
//* packaging.packaging.quantity = 1 // TO DO: should not be mandatory maybe
//* packaging.packaging.material[0] = $200000003199#200000003222 "PolyVinyl Chloride"
//* packaging.packaging.material[+] = $200000003199#200000003225 "PolyVinylidene Chloride"
//* packaging.packaging.material[+] = $200000003199#200000003200 "Aluminium"
//* packaging.packaging.containedItem.item.reference = Reference({{full_name|normalize_name}}-MID)
//* packaging.packaging.containedItem.amount.value = 30
{%- endif %}

