Instance: LOC-100002580-Zentiva
InstanceOf: PPLOrganization
Usage: #{{usage}}
Description: "Marketing Authorisation Holder / Organisation"

* identifier[loc].value = "{{organization.identifier}}"
* name = "{{organization.name}}"