Instance: {{instance_name}}
InstanceOf: PPLMedicinalProductDefinition
Usage: #inline
* identifier[mpid].value = "{{mpId}}"
* domain = $100000000004#100000000012 "Human use"
* status = $200000005003#200000005004 "Current"
* combinedPharmaceuticalDoseForm = $200000000004#100000073664 "Tablet"
* indication = "{{indication}}"
* legalStatusOfSupply = $100000072051#100000072084 "Medicinal product subject to medical prescription"
* classification[0] = $100000093533#100000095065 "amlodipine"
* classification[+] = $who-atc#C08CA01 "amlodipine"
* name.productName = "{{product_name}}"
{% if name_parts -%}
    {%- for part_key, part_value in name_parts.items() -%}
* name.part[{{part_key}}].part = "{{part_value}}"
    {%- endfor -%}
{% endif %}
* name.usage.country = $100000000002#100000000430 "Italian Republic"
* name.usage.language = $100000072057#100000072194 "Italian"