Instance: {{instance_name}}
InstanceOf: Bundle
Usage: #example
{% if description -%}
Description: "Agen 10mg Tablet. Estonia. Simple example of one full product as a bundle. Packages, PCIDs, differ by material."
{%- endif%}
* type = #transaction

* entry[0].resource = Agen-10mg-Tablet-EE-MPD
* entry[=].request.method = #PUT
* entry[=].request.url = "MedicinalProductDefinition/Agen-10mg-Tablet-EE-MPD"
* entry[=].fullUrl = "https://hl7-eu.github.io/unicom-ig/branches/mpd-r4b/MedicinalProductDefinition/Agen-10mg-Tablet-EE-MPD"

* entry[+].resource = Agen-10mg-Tablet-EE-RA
* entry[=].request.method = #PUT
* entry[=].request.url = "RegulatedAuthorization/Agen-10mg-Tablet-EE-RA"
* entry[=].fullUrl = "https://hl7-eu.github.io/unicom-ig/branches/mpd-r4b/RegulatedAuthorization/Agen-10mg-Tablet-EE-RA"

* entry[+].resource = LOC-100002580-Zentiva
* entry[=].request.method = #PUT
* entry[=].request.url = "Organization/LOC-100002580-Zentiva"
* entry[=].fullUrl = "https://hl7-eu.github.io/unicom-ig/branches/mpd-r4b/Organization/LOC-100002580-Zentiva"

* entry[+].resource = Agen-10mg-Tablet-EE-APD
* entry[=].request.method = #PUT
* entry[=].request.url = "AdministrableProductDefinition/Agen-10mg-Tablet-EE-APD"
* entry[=].fullUrl = "https://hl7-eu.github.io/unicom-ig/branches/mpd-r4b/AdministrableProductDefinition/Agen-10mg-Tablet-EE-APD"

* entry[+].resource = Agen-10mg-Tablet-EE-MID
* entry[=].request.method = #PUT
* entry[=].request.url = "ManufacturedItemDefinition/Agen-10mg-Tablet-EE-MID"
* entry[=].fullUrl = "https://hl7-eu.github.io/unicom-ig/branches/mpd-r4b/ManufacturedItemDefinition/Agen-10mg-Tablet-EE-MID"

* entry[+].resource = Agen-10mg-Tablet-EE-I
* entry[=].request.method = #PUT
* entry[=].request.url = "Ingredient/Agen-10mg-Tablet-EE-I"
* entry[=].fullUrl = "https://hl7-eu.github.io/unicom-ig/branches/mpd-r4b/Ingredient/Agen-10mg-Tablet-EE-I"

* entry[+].resource = Agen-10mg-Tablet-EE-PPD-1109900-A
* entry[=].request.method = #PUT
* entry[=].request.url = "PackagedProductDefinition/Agen-10mg-Tablet-EE-PPD-1109900-A"
* entry[=].fullUrl = "https://hl7-eu.github.io/unicom-ig/branches/mpd-r4b/PackagedProductDefinition/Agen-10mg-Tablet-EE-PPD-1109900-A"

* entry[+].resource = Agen-10mg-Tablet-EE-PPD-1109900-B
* entry[=].request.method = #PUT
* entry[=].request.url = "PackagedProductDefinition/Agen-10mg-Tablet-EE-PPD-1109900-B"
* entry[=].fullUrl = "https://hl7-eu.github.io/unicom-ig/branches/mpd-r4b/PackagedProductDefinition/Agen-10mg-Tablet-EE-PPD-1109900-B"

{% with usage=inline -%}
{% include components PPL_MedicinalProductDefinition.jinja %}

{% include components PPL_RegulatedAuthorization.jinja %}

{% include components PPL_AdministrableProductDefinition.jinja %}

{% include components PPL_ManufacturedItemDefinition.jinja %}

{% include components PPL_Ingredient.jinja %}

{% include components PPL_PackagedProductDefinition.jinja %}
{%- endwith %}
