Instance: {{full_name}}
InstanceOf: Bundle
Usage: #example
{% if description -%}
Description: "Agen 10mg Tablet. Estonia. Simple example of one full product as a bundle. Packages, PCIDs, differ by material."
{%- endif %}
* type = #transaction

* entry[0].resource = {{full_name}}-MPD
* entry[=].request.method = #PUT
* entry[=].request.url = "MedicinalProductDefinition/{{full_name}}-MPD"
* entry[=].fullUrl = "https://hl7-eu.github.io/unicom-ig/branches/mpd-r4b/MedicinalProductDefinition/{{full_name}}-MPD"

* entry[+].resource = {{full_name}}-RA
* entry[=].request.method = #PUT
* entry[=].request.url = "RegulatedAuthorization/{{full_name}}-RA"
* entry[=].fullUrl = "https://hl7-eu.github.io/unicom-ig/branches/mpd-r4b/RegulatedAuthorization/{{full_name}}-RA"

* entry[+].resource = LOC-{{organization.identifier}}-{{organization.name}}
* entry[=].request.method = #PUT
* entry[=].request.url = "Organization/{{organization.identifier}}"
* entry[=].fullUrl = "https://hl7-eu.github.io/unicom-ig/branches/mpd-r4b/Organization/{{organization.identifier}}"

* entry[+].resource = {{full_name}}-APD
* entry[=].request.method = #PUT
* entry[=].request.url = "AdministrableProductDefinition/{{full_name}}-APD"
* entry[=].fullUrl = "https://hl7-eu.github.io/unicom-ig/branches/mpd-r4b/AdministrableProductDefinition/{{full_name}}-APD"

* entry[+].resource = {{full_name}}-MID
* entry[=].request.method = #PUT
* entry[=].request.url = "ManufacturedItemDefinition/{{full_name}}-MID"
* entry[=].fullUrl = "https://hl7-eu.github.io/unicom-ig/branches/mpd-r4b/ManufacturedItemDefinition/{{full_name}}-MID"

* entry[+].resource = {{full_name}}-I
* entry[=].request.method = #PUT
* entry[=].request.url = "Ingredient/{{full_name}}-I"
* entry[=].fullUrl = "https://hl7-eu.github.io/unicom-ig/branches/mpd-r4b/Ingredient/{{full_name}}-I"

* entry[+].resource = {{full_name}}-PPD
* entry[=].request.method = #PUT
* entry[=].request.url = "PackagedProductDefinition/{{full_name}}-PPD"
* entry[=].fullUrl = "https://hl7-eu.github.io/unicom-ig/branches/mpd-r4b/PackagedProductDefinition/{{full_name}}-PPD"

{% with usage="inline" %}

{% include "components/PPL_MedicinalProductDefinition.jinja" %}


{% include "components/PPL_RegulatedAuthorization.jinja" %}


{% include "components/PPL_AdministrableProductDefinition.jinja" %}


{% include "components/PPL_ManufacturedItemDefinition.jinja" %}


{% include "components/PPL_Ingredient.jinja" %}


{% include "components/PPL_Organization.jinja" %}


{% include "components/PPL_PackagedProductDefinition.jinja" %}
{% endwith %}